/*
For consistent and uniquely named colors,
colors in this file are named based on the output of:

http://chir.ag/projects/name-that-color/

If adding a new color variable, please enter the hex value
into the above tool to find a corresponding color name.
*/

$malibu: #6BE9F9;
$desert-storm: #F8F8F6;
$white: #FFFFFF;
$shark: #222222;

// :root {
//   --malibu: #6BE9F9;
//   --desert-storm: #F8F8F6;
//   --white: #FFFFFF;
//   --shark: #222222;
// }
